function Astroid.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push argument 5
pop this 5
push pointer 0
return
function Astroid.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Astroid.draw 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 2
sub
push constant 1
gt
push this 0
push this 2
add
push constant 511
lt
and
push this 1
push this 2
sub
push constant 1
gt
and
push this 1
push this 2
add
push constant 255
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Astroid.refreshRM 0
push argument 0
pop pointer 0
push this 0
push this 4
add
pop this 0
push this 1
push this 5
add
pop this 1
push this 0
push constant 0
push this 2
add
lt
push this 0
push constant 511
push this 2
sub
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push this 1
push constant 0
push this 2
add
lt
push this 1
push constant 255
push this 2
sub
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
goto IF_END1
label IF_FALSE1
push constant 0
not
return
label IF_END1
label IF_END0
function Astroid.refresh 0
push argument 0
pop pointer 0
push this 0
push this 4
add
pop this 0
push this 1
push this 5
add
pop this 1
push this 0
push this 2
add
push constant 1
add
push constant 512
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
add
pop this 0
goto IF_END0
label IF_FALSE0
push this 0
push this 2
push constant 1
add
sub
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push this 2
push constant 1
add
sub
pop this 0
label IF_FALSE1
label IF_END0
push this 1
push this 2
add
push constant 1
add
push constant 254
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Constant.BARSIZE 0
add
push constant 1
add
pop this 1
goto IF_END2
label IF_FALSE2
push this 1
push this 2
push constant 1
add
call Constant.BARSIZE 0
add
sub
push constant 0
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
push this 2
push constant 1
add
sub
pop this 1
label IF_FALSE3
label IF_END2
push constant 0
return
function Astroid.getPosX 0
push argument 0
pop pointer 0
push this 0
return
function Astroid.getPosY 0
push argument 0
pop pointer 0
push this 1
return
function Astroid.getSize 0
push argument 0
pop pointer 0
push this 2
return
