function Main.main 2
call Menu.new 0
pop local 1
label WHILE_EXP0
push local 1
call Menu.refresh 1
push constant 0
eq
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
push local 1
call Menu.dispose 1
pop temp 0
call Game.new 0
pop local 0
push local 0
call Game.run 1
pop temp 0
push local 0
call Game.dispose 1
pop temp 0
push constant 0
return
